---
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

const filteredPosts = allPosts.filter((post) => {
    return post.data.tags.includes("project");
});

const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
    <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2"
    >
        {filteredPosts.map((post) => <ProjectCard post={post} />)}
    </div>
</BaseLayout>
