---
import ProjectCard from "../components/ProjectCard.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");

const filteredPosts = allPosts;
// const filteredPosts = allPosts.filter((post) => {
//     post.frontmatter.tags.includes("project");
// });

const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
    <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2"
    >
        {filteredPosts.map((post) => <ProjectCard post={post} />)}
    </div>
</BaseLayout>
