---
/**
 * Component providing links to main pages on my website. New links and their slugs can be added in
 * the `links` variable. This component also displays the title of the website (my name) and the
 * theme toggle.
 */
import ThemeToggle from "@components/ThemeToggle.astro";
let currentPage = Astro.url.pathname;

const links = [
    ["Projects", "/"],
    ["Posts", "/posts/"],
    ["Notes", "/notes/"],
];
---

<div class="flex flex-row space-x-5 w-full">
    <!-- only render "Alex Bustos" when we're not on the notes page-->
    {
        currentPage.includes("notes") ? (
            <div class="flex items-center">
                <label
                    for="notes-drawer"
                    class="btn btn-xs drawer-button icon-[line-md--menu] w-5 h-5 lg:hidden hover:bg-primary"
                />
            </div>
        ) : (
            <a href="/" class="font-bold whitespace-nowrap">
                Alex Bustos
            </a>
        )
    }

    {
        links.map(([title, link]) => {
            return (
                <a
                    href={link}
                    class="hoverable"
                    class:list={[
                        { underline: currentPage === link },
                        { "text-primary": currentPage === link },
                    ]}
                >
                    {title}
                </a>
            );
        })
    }
    <!--this div is to space the ThemeToggle at the opposite end of the flex box-->
    <div class="flex-grow"></div>
    <div class="flex items-center">
        <ThemeToggle />
    </div>
</div>
