---
/**
 * Component providing links to main pages on my website. New links and their slugs can be added in
 * the `links` variable. This component also displays the title of the website (my name) and the
 * theme toggle.
 */
import ThemeToggle from "@components/ThemeToggle.astro";
let currentPage = Astro.url.pathname;

const links = [
    ["Projects", "/"],
    // ["Posts", "/posts/"],
    ["Notes", "/notes/"],
];
---

<div class="flex flex-row w-full items-center">
    <!-- only render "Alex Bustos" when we're not on the notes page -->
    {
        currentPage.includes("notes") ? (
            <label
                for="notes-drawer"
                class="btn btn-xs drawer-button icon-[line-md--menu] w-5 h-5 hover:bg-primary lg:hidden flex-shrink-0 mr-5"
            />
        ) : (
            <a href="/" class="font-bold whitespace-nowrap pr-5">
                Alex Bustos
            </a>
        )
    }

    {
        links.map(([title, link]) => {
            return (
                <a
                    href={link}
                    class="hoverable pr-5"
                    class:list={[
                        { underline: currentPage === link },
                        { "text-primary": currentPage === link },
                    ]}
                >
                    {title}
                </a>
            );
        })
    }
    <!-- this div is to space the ThemeToggle to be at the opposite end of the flex box -->
    <div class="flex-grow"></div>
    <div class="flex items-center">
        <ThemeToggle />
    </div>
</div>
