---
/**
 * Component providing links to main pages on my website. New links and their slugs can be added in
 * the `links` variable. This component also displays the title of the website (my name) and the
 * theme toggle.
 */
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import NoteLayout from "@layouts/NoteLayout.astro";
const allNotes = await getCollection("notes");

const classes = new Map<string, CollectionEntry<"notes">[]>();

allNotes.forEach((note) => {
    if (classes.has(note.data.class)) {
        classes.get(note.data.class)?.push(note);
    } else {
        classes.set(note.data.class, [note]);
    }
});
---

<div class="drawer lg:drawer-open">
    <input id="notes-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
        <!-- Page content here -->
        <slot />
    </div>
    <div class="drawer-side">
        <label
            for="notes-drawer"
            aria-label="close sidebar"
            class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
            <!-- Sidebar content here -->
            <h1 class="font-bold text-lg">Alex's Notes</h1>
            {
                Array.from(classes).map(([cls, notes]) => (
                    <li>
                        <a>{cls}</a>
                        <ul>
                            {notes.map((note) => (
                                <li>
                                    <a href={"/notes/" + note.slug}>
                                        {note.data.title}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    </li>
                ))
            }
        </ul>
    </div>
</div>
