---
/**
 * Component for the "Notes" section of my website that provides links to all of the pages in the
 * "Notes" content collection. Also responsive -- it will display on the left side on larger screens
 * and be hidden on smaller screens like phones. On these screens there's a button on the nav bar
 * that can be used to access the notes menu. Which... maybe that's like bad in terms of coupling.
 */
import { type CollectionEntry } from "astro:content";

interface Props {
    notes: CollectionEntry<"notes">[];
}

const { notes } = Astro.props;
// organize notes according to class
const classes = new Map<string, CollectionEntry<"notes">[]>();

notes.forEach((note) => {
    if (classes.has(note.data.class)) {
        classes.get(note.data.class)?.push(note);
    } else {
        classes.set(note.data.class, [note]);
    }
});
---

<div class="drawer lg:drawer-open">
    <input id="notes-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
        <!-- page content here -->
        <slot />
    </div>
    <div class="drawer-side">
        <label
            for="notes-drawer"
            aria-label="close sidebar"
            class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
            <!-- sidebar content here -->
            <a class="font-bold text-lg hoverable" href="/notes/"
                >Alex's Notes</a
            >
            {
                Array.from(classes).map(([cls, notes]) => (
                    <li>
                        <div class="btn-disabled">{cls}</div>
                        <ul>
                            {notes.map((note) => (
                                <li>
                                    <a href={"/notes/" + note.slug}>
                                        {note.data.title}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    </li>
                ))
            }
        </ul>
    </div>
</div>
