---
import FormattedDate from "./FormattedDate.astro";
import Tag from "./Tag.astro";

interface Props {
    url: string | undefined;
    title: string;
    date: Date;
    tags: string[];
}

let { url, title, date, tags } = Astro.props;

if (tags.length > 3) {
    tags = tags.slice(0, 3);
}
---

<li class="flex flex-col w-full gap-1 rounded-md ring-1 ring-neutral-400 p-2">
    <div class="flex flex-row justify-between items-center">
        <a href={url} class="hoverable">{title}</a>
        <div class="text-xs font-mono">
            <FormattedDate date={date} />
        </div>
    </div>
    <div class="flex flex-row gap-1">
        {
            tags.map((tag: string) => {
                return <Tag tag={tag} />;
            })
        }
    </div>
</li>
