---
/**
 * Pill-shaped tag that can be used to show relevant topics for a post or project.
 */
interface Props {
    tag: string;
}

const { tag } = Astro.props;
---

<div
    class="badge badge-outline text-xs capitalize text-neutral-400 hoverable whitespace-nowrap"
>
    <a href={"/tags/" + tag}>{tag}</a>
</div>
