---
/**
 * A toggle that makes use of the `theme-change` package to switch between `light` and `dark` modes.
 */
import Sun from "~icons/line-md/sunny-outline-loop";
import Moon from "~icons/line-md/moon-alt-loop";
import { modes } from "@styles/modes";
---

<label class="swap">
    <!-- this hidden checkbox controls the state; checked when dark mode is enabled. -->
    <input
        type="checkbox"
        data-toggle-theme={`${modes.dark},${modes.light}`}
        data-active-class="ACTIVECLASS"
        id="theme-toggle"
    />

    <!-- sun icon (shows when dark mode is enabled) -->
    <Sun class="w-5 h-5 swap-on" />

    <!-- moon icon (shows when light mode is enabled) -->
    <Moon class="w-5 h-5 swap-off" />
</label>

<script>
    import { modes } from "@styles/modes";

    document.addEventListener("DOMContentLoaded", () => {
        const checkbox = document.getElementById(
            "theme-toggle",
        ) as HTMLInputElement;
        checkbox.checked = localStorage.getItem("theme") === modes.dark;

        // add listener to save theme to Local Storage when theme toggle is clicked.
        checkbox.addEventListener("click", () => {
            const theme = localStorage.getItem("theme");
            localStorage.setItem(
                "theme",
                theme === modes.dark ? modes.dark : modes.light,
            );
        });
    });
</script>
