---
import FormattedDate from "../components/FormattedDate.astro";
import Tag from "../components/Tag.astro";
import BaseLayout from "./BaseLayout.astro";
const { data } = Astro.props;
---

<BaseLayout pageTitle={data.title}>
    <h1 class="text-2xl font-bold mx-auto text-center">
        {data.title}
    </h1>
    <div class="mx-auto">
        <FormattedDate date={data.pubDate} />
    </div>
    <div class="flex gap-2 flex-row flex-wrap">
        {data.tags.map((tag: any) => <Tag tag={tag} />)}
    </div>
    <article class="prose text-justify leading-normal w-full mx-auto">
        <slot />
    </article>
</BaseLayout>

<style is:global>
    img {
        @apply rounded-md;
    }
</style>
