---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@styles/global.css";
import { modes } from "@styles/modes";
const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Alex Bustos | {pageTitle}</title>
        <script is:inline>
            // ☝️ This script prevent the FART effect.
            const theme = localStorage.getItem("theme");
            if (theme !== null) {
                document.documentElement.setAttribute("data-theme", theme);
            } else {
                document.documentElement.setAttribute(
                    "data-theme",
                    modes.light,
                );
            }
            // "theme" LocalStorage value is set by the package to remember user preference.
            // The value is checked and applyed before rendering anything.
        </script>
        <script>
            import { themeChange } from "theme-change";
            themeChange();
        </script>
    </head>

    <body>
        <div class="flex flex-col w-[90vw] md:w-[50vw] mx-auto my-3 space-y-2">
            <Header />
            <div class="drawer lg:drawer-open">
                <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
                <div
                    class="drawer-content flex flex-col items-center justify-center"
                >
                    <!-- Page content here -->
                    <label
                        for="my-drawer-2"
                        class="btn btn-primary drawer-button lg:hidden"
                        >Open drawer</label
                    >
                    <slot />
                </div>
                <div class="drawer-side">
                    <label
                        for="my-drawer-2"
                        aria-label="close sidebar"
                        class="drawer-overlay"></label>
                    <ul
                        class="menu p-4 w-80 min-h-full bg-base-200 text-base-content"
                    >
                        <!-- Sidebar content here -->
                        <li><a>Sidebar Item 1</a></li>
                        <li><a>Sidebar Item 2</a></li>
                    </ul>
                </div>
            </div>
            <Footer />
        </div>
    </body>
</html>
